
  

 
  <div class="container-login">
    <ion-grid >
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="10" size-md="8" size-lg="8" size-xl="6">
          <div class="login-box">
            <h1 class="ion-text-center">Change Password</h1>
            <ion-list>
              <ion-item>
                <ion-icon name="eye" slot="end" class="icon-login"></ion-icon>
                <ion-input  name="password" type="password"  placeholder="New Password" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon name="eye" slot="end" class="icon-login"></ion-icon>
                <ion-input name="Repeat Password" type="password"   placeholder="Repeat Password" required></ion-input>
              </ion-item>
            </ion-list>

            <ion-button type="submit"   expand="block" class="ion-margin-top">
               <span >Submit</span> 
             </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 
