<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inspire</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="openPopover($event)">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>

      <!-- Popover component -->
      <ion-popover [isOpen]="popoverOpen" [event]="popoverEvent" (ionPopoverDidDismiss)="popoverOpen = false">
        <ng-template>
          <ion-list>
            <ion-item (click)="selectOption('profile')">Profile</ion-item>
            <ion-item (click)="selectOption('settings')">Settings</ion-item>
            <ion-item (click)="selectOption('logout')">Logout</ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div class="content-wrapper">

     <h2 class="section-title">Reports</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3">
          <ion-card class="custom-card" (click)="onCheckIn()">
            <ion-card-content>CheckIn</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="3">
          <ion-card class="custom-card" (click)="onCheckOut()">
            <ion-card-content>CheckOut</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="3">
          <ion-card class="custom-card" (click)="onattendancesummary()">
            <ion-card-content>Attendance Summary</ion-card-content>
          </ion-card>
        </ion-col>
        <!-- <ion-col size="12" size-md="3">
          <ion-card class="custom-card" (click)="onattendancedetail()">
            <ion-card-content>Attendance Detail</ion-card-content>
          </ion-card>
        </ion-col> -->
    <!--  </ion-row>
    </ion-grid>

     <h2 class="section-title">Smart Punch</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="custom-card" (click)="onsmartpunch()">
            <ion-card-content>SMART PUNCH - ONE TO ONE</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content> -->
<ion-content>     
  <ion-card no-margin>
    <ion-card-header>
      <ion-card-title><b>Smart Punch</b></ion-card-title>
    </ion-card-header>
  <div class="content-wrapper">
     <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3">
          <ion-card class="custom-card" (click)="onCheckIn()">
            <ion-card-content>CheckIn</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="3">
          <ion-card class="custom-card" (click)="onCheckOut()">
            <ion-card-content>CheckOut</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="3">
          <ion-card class="custom-card" (click)="onattendancesummary()">
            <ion-card-content>Attendance Summary</ion-card-content>
          </ion-card>
        </ion-col>
           <ion-col size="12" size-md="6">
            <ion-card class="custom-card" (click)="onsmartpunch()">
              <ion-card-content>SMART PUNCH - ONE TO ONE</ion-card-content>
            </ion-card>
          </ion-col>
       </ion-row>
    </ion-grid>
    <ion-grid>
      
    </ion-grid>

  </div>
  </ion-card>
</ion-content>
