<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Inspire</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="map-container">
  <!-- <ion-card no-margin>
    <ion-card-header>
      <ion-card-title><b>Attendance Summary </b></ion-card-title>
      <p><strong>Latitude:</strong> {{ markerPosition.lat }}</p>
  <p><strong>Longitude:</strong> {{ markerPosition.lng }}</p>

  <google-map 
    height="400px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="updateMarkerPosition($event)">
    <map-marker [position]="markerPosition"></map-marker>
  </google-map>
    </ion-card-header>
  </ion-card> -->




  <ion-header>
    <ion-toolbar>
      <ion-title>Current Location</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-button expand="full" (click)="showLocation()">Show My Location</ion-button>
  
    <ion-card *ngIf="latitude && longitude">
      <ion-card-content>
        <h2>Latitude: {{ latitude }}</h2>
        <h2>Longitude: {{ longitude }}</h2>
      </ion-card-content>
    </ion-card>
  
    <div id="map"></div>
  </ion-content>
  
  


</div>
   